.brands-container {
    padding: 4.9rem 0;
}

.brands {
    display: flex;
    gap: 2.91rem;
    width: max-content;
    margin: 0 auto;

}

.brands-logo {
    width: 4.44375rem;
}

.brands-logo img {
    width: 100%;
    height: 100%;
}