.blog {
    width: 85%;
    margin: 0 auto 9rem;
}

.blog__heading {
    width:70%;
    margin-bottom:4rem;
    
}

.blog__articles {
    display: flex;
    width: 100%;
}

.blog__sub-articles {
    display: flex;
    flex-wrap: wrap;
    width: 60%;

}

.blog__main-article-container {
    width: 40%;
    padding: 1rem;
}

.blog__article-container {
    padding: 1rem;
    width: 50%;
}

.blog__main-article {
    height: 100%;
}

.blog__main-article-img {
    height: 40%;
}

.blog__main-article-content {
    height: 60%;
}

.blog__article-content,
.blog__main-article-content {
    padding: 2rem 1rem;
    background-color: #042C54;
}


.blog__main-article-img{
    background-image: url(../../assets/Rectangle\ 22.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
            
}

.blog__article-img1 {
    height: 10rem;
    background-image: url(../../assets/Rectangle\ 23.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.blog__article-img2 {
    height: 10rem;
    background-image: url(../../assets/Rectangle\ 24.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.blog__article-img3 {
    height: 10rem;
    background-image: url(../../assets/Rectangle\ 25.svg);
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
}
.blog__article-img4 {
    height: 10rem;
    background-image: url(../../assets/Rectangle\ 26.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.blog__main-article-description {
    color: #FFF;
    font-family: var(--font-family);
    font-size: 1.56938rem;
    font-style: normal;
    font-weight: 800;
    line-height: 1.89294rem;
    padding-bottom: 11.7rem;
}

.blog__article-date,
.blog__main-article-date,
.blog__read-more {
    color: #FFF;
    font-family: var(--font-family);
    font-size: 0.72806rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.18419rem;
}

.blog__article-description {
    color: #FFF;
    font-family: var(--font-family);
    font-size: 1.20719rem;
    font-style: normal;
    font-weight: 800;
    line-height: 1.89294rem;
    padding-bottom: .73rem;
}

@media screen and (max-width: 905px) {
    .blog__main-article-img {
        height: 30rem;
    }
    .blog__heading{
        width:100%;
    }
    .blog__articles{
        flex-direction: column;
    }
    .blog__main-article-description{
        padding-bottom: 2rem;
    }
    .blog__main-article-container{
        width: 100%;
    }
    .blog__sub-articles{
        width: 100%;
    }
    .blog__heading {
        margin-bottom: 1rem;
    }
    
}   

@media screen and (max-width: 590px) {
    .blog__article-container{
        width: 100%;
    }
    .blog__sub-articles {
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    
    }
    
}