.gradient__bg {
  
  width: 100%;
  /* ff 3.6+ */

  background: -moz-radial-gradient(circle at 9% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 31%, rgba(4, 12, 24, 1) 82%);

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(circle at 9% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 31%, rgba(4, 12, 24, 1) 82%);

  /* opera 11.10+ */
  background: -o-radial-gradient(circle at 9% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 31%, rgba(4, 12, 24, 1) 82%);

  /* ie 10+ */
  background: -ms-radial-gradient(circle at 9% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 31%, rgba(4, 12, 24, 1) 82%);

  /* global 92%+ browsers support */
  background: radial-gradient(circle at 9% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 31%, rgba(4, 12, 24, 1) 82%);

}